*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body{
    background-color: #1c073a;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

/* Header */
span{
    font-size: inherit;
    color: #8448d7;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

header button{
    display: block;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: #6a09f6;
    border-style: none;

}

header h1{
    text-transform: uppercase;
}

hr{
    width: 100%;
}

/* Imagens */
.fotos img{
    box-sizing: border-box;
    /* height: 20vh; */
    width: 20vh;
    border-radius: 2.5rem;
    box-shadow: 1rem 1rem #230351;
    border-color: #1c073a;
    border-style: solid;
}

.fotos{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Resultados */
h1{
    font-size: 5rem;
}

h1 span{
    font-size: inherit
}

.texto p{
    font-size: 3rem;
    text-align: center;
    color: #fff;
}


/* Conquistas */
.conquista{
    display: flex;
    justify-content:space-between;
    align-items: center;

    background-color: #8448d7;
    
    margin-top: 5rem;
        
    height: 20vh;
    width: 60vw;

    border-radius: 3rem;

    padding: 0 25rem 0 1rem ;

    /* Controle de Efeitos */
    filter: saturate(0);

}

.conquista:hover {
    background-color: #6839aa;
}

.conquista *{
    user-select: none;
}

.conquista img{
    height: 90%;
    
    border-radius: 3rem;

    margin-right: 10rem;
}

button{
    border-style: none;
}

/* CONFETTI */
.confetti-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction */
  overflow: hidden;
}
@keyframes confetti-fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.8;
  }
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background: var(--confetti-color, red);
  opacity: 0.9;
  animation: confetti-fall var(--fall-duration, 4s) linear infinite;
}